<div class="title-container">
    <span [routerLink]="['/schedule/day', previousDay]" class="material-icons arrows">navigate_before</span>
    <div class="day-title">{{getCurrentDateTitle()}}</div>
    <span [routerLink]="['/schedule/day', nextDay]" class="material-icons arrows">navigate_next</span>
</div>
<div class="wrapper">
    <div class="time-col" *ngFor="let s of slots">{{s}}</div>
    <ng-container *ngFor="let t of tasks">
        <div (click)="openEditTaskDialog(t)" [ngClass]=" t.colCssClass" class="task" [ngStyle]="{'grid-row': t.gridRowValue }">
            {{t.description}}
        </div>
    </ng-container>
</div>

<span (click)="openAddTaskDialog()" class="material-icons add_icon">add_circle</span>